
body{
    background-color: antiquewhite;
}
h1{
    font-style: oblique;
}
div{
    background-color: #e6d7ff;
    
    border: 2px solid black;
}
.customDiv{
    
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #dccff5;
}

p{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
#Education_Summary{
    
    background-color: #e6d7ff;
    border: 2px solid black;
  
}

#Work_Experience{
    
    background-color: #e6d7ff;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-bottom: 20px;
}

.Projects{
    width: 100%;
    margin-left: 0;
    padding-right: 0;
    background-color: transparent;
    
    
}
.ul1{
    list-style-type: square;
    
}

table {
    width: 100%;
    background-color: #FFFFED;
    border-collapse: collapse;
    
}
th{
    background-color: #FFFFED;
    font-size: small;
    
}

.customTable td, .customTable th{
    background-color: #FFFFED;

}
#General_Interests{
    background-color: #e6d7ff;
    border: 2px solid black;
}
form {
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid lightcyan;
}
#Favorite_Media{
    height:auto;
}
#Favorite_Websites{
    height:auto;
}

span.menu a{
    padding-bottom: 10px;
    font-style: oblique;
    text-decoration: none;
    height: auto;
    width: auto;
    margin-left: -20px;
    
}
.navbar a{
    color: black;

}
.btn-primary a{
    color: black;
}