#Title {
    text-align: center;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
button {
    background-color: skyblue;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;

}

.completed span{
    text-decoration: line-through;
    color: lightgray;
}
